development:
  secret_key_base:
  s3_access_key:
  s3_secret_key:
  s3_region:
  s3_bucket_name:

test:
  secret_key_base:

production:
  secret_key_base:
  s3_access_key:
  s3_secret_key:
  s3_region:
  s3_bucket_name:
