<%= simple_form_for [@event, subscription] do |f| %>
    <% unless user_signed_in? %>
        <%= f.input :user_name %>
        <%= f.input :user_email %>
    <% end %>

    <div class="actions">
      <%= f.submit 'Подписаться', class: 'btn btn-primary' %>
    </div>
<% end %>