<div class="event-photo">
  <%= link_to image_tag(photo.photo.thumb.url, class: 'example-image'),
    photo.photo.url,
    data: {
      toggle: 'lightbox',
      gallery: "event-#{photo.event.id}",
      title: "Добавил #{render partial: 'users/user', object: photo.user}"
    },
    class: 'example-image-link' %>
</div>
